apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: nevz
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-teyu-tenant/byoc-app-kyrq/nevz@sha256:7d40c232c84f94979812d7ceefdfb9de607c9354b9acaa0670c7ff79804497b0
        name: my-java-quarkus
        resources: {}
status: {}
