apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: nevz
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: nevz
    app.kubernetes.io/part-of: byoc-app-kyrq
  name: nevz
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: nevz
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: nevz
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-teyu-tenant/byoc-app-kyrq/nevz@sha256:7d40c232c84f94979812d7ceefdfb9de607c9354b9acaa0670c7ff79804497b0
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
